@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --dga-color-bg-primary: #fff;
  --dga-color-bg-secondary: #1890ff;
  --dga-color-bg-tertiary: #e6f7ff;
  --dga-color-bg-quaternary: #f5f5f5;

  --dga-color-font-primary: #fff;
  --dga-color-font-secondary: #7e7e7e;
  --dga-color-font-tertiary: #262626;
  --dga-color-font-quaternary: #1890ff;
  --dga-color-font-quinary: #5c5858;
  --dga-color-font-senary: #737373;
  --dga-color-font-septenary: #0029FF;

  --dga-color-border-primary: #d9d9d9;

  --dga-color-placeholder: #bfbfbf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.dga-paddingl40 {
  padding-left: 40px;
}

.dga-mt30 {
    margin-top: 30px;
}

.dga-mb30 {
    margin-bottom: 30px;
}

.dga-dflex {
  display: flex;
}

.dga-container {
  width: 100%;
  max-width: 1251px;
  margin: 0 auto;
}
